<ion-view view-title="Psst!" align-title="center">
  <ion-content style="text-align:center;">
   <div class="card" class="padding-bottom">
    <p>Je savais que tu comprendrais. Pas le temps de t'expliquer, il faut faire vite. Je t'ai laissé quelques indices qui te permettront d'arriver à accomplir ce que j'attend de toi, mais tout ça doit rester entre nous. Shut!</p>
    <p>Appuie sur le bouton ci-bas quand tu es seule.</p>
    </div>
    <button style="margin:20px auto;" ui-sref="indices" class="button button-large button-dark">Appuie ici!</button>
  </ion-content>
</ion-view>