<div class="card">
  <div class="item item-divider">
    Vite!
  </div>
  <div class="item item-text-wrap">
   
    Bien! Maintenant, je sais qu'aujourd'hui est aussi une journée spéciale pour toi alors crois-tu que tu peux <strong>retrouver ton cadeau d'anniversaire de l'an dernier?</strong><br><br>
    Surtout, si jamais tu avais à sortir dehors, ton chum ne devrait rien savoir! <strong>Trouve un prétexte pour avoir à sortir quelques minutes.</strong> Il doit absolument ne se douter de rien!
    <br><br>
    Quand tu auras trouvé, <strong>CREUSE-TOI LA TÊTE</strong> POUR TROUVER LE PROCHAIN CODE.
    
    <div class="item item-input-inset">
     <label class="item item-input">
      <input type="text" placeholder="code" focus ng-model="comm.reponse"fff>
    </label><br>
      
    </div>
    <button ng-if="!valid" style="clear:both" class="button button-dark" ng-click="submitReponse(comm.reponse)">Soumettre</button>
    <p ng-if="message && !valid" style="color:#ef473a">{{message}}</p>
    
  </div>
</div>