<div class="card">
  <div class="item item-divider">
    Vite!
  </div>
  <div class="item item-text-wrap">
   <img src="img/sac.jpg" alt="" height="250" width="auto"><br>
    Pourquoi n'y a-t-il qu'un sac de suspendu au plafond. Qu'utiliseras-tu, toi, pour transporter tes 12 fers à cheveux?: <br>
    
    <div class="item item-input-inset">
     <label class="item item-input">
      <input type="text" placeholder="Code" focus ng-model="comm.reponse"fff>
    </label><br>
      
    </div>
    <button ng-if="!valid" style="clear:both" class="button button-dark" ng-click="submitReponse(comm.reponse)">Soumettre</button>
    <p ng-if="message && !valid" style="color:#ef473a">{{message}}</p>
    
  </div>
</div>