<div class="card">
  <div class="item item-divider">
    Bravo!
  </div>
  <div class="item item-text-wrap">
  Rends-toi sur www.lafeteduminou.com/sm sur ton ordinateur et complète le <strong>niveau 1 dans Bridge Works</strong>. Sois attentive, tu devrais pouvoir obtenir un code si tu réussis: <br>
   <img src="img/sm.jpg" alt="" height="250" width="auto"><br>
    
    <div class="item item-input-inset">
     <label class="item item-input">
      <input type="text" placeholder="Code" focus ng-model="comm.reponse"fff>
    </label><br>
      
    </div>
    <button ng-if="!valid" style="clear:both" class="button button-dark" ng-click="submitReponse(comm.reponse)">Soumettre</button>
    <p ng-if="message && !valid" style="color:#ef473a">{{message}}</p>
    
  </div>
</div>