<div class="card">
  <div class="item item-divider">
    Vite!
  </div>
  <div class="item item-text-wrap">
    Vite!!! Retourne sur tes pas! Ils t'ont peut-être repérée. Si jamais ils ont tenté d'installer des micros, ils risquent d'avoir bougé quelque chose. Peux-tu voir si tout est comme c'était à ton départ?<br>
    
    <div class="item item-input-inset">
     <label class="item item-input">
      <input type="text" placeholder="Code" focus ng-model="comm.reponse"fff>
    </label><br>
      
    </div>
    <button ng-if="!valid" style="clear:both" class="button button-dark" ng-click="submitReponse(comm.reponse)">Soumettre</button>
    <p ng-if="message && !valid" style="color:#ef473a">{{message}}</p>
    
  </div>
</div>