<div class="card">
  <div class="item item-divider">
    Vite!
  </div>
  <div class="item item-text-wrap">
   <img src="img/derriere.jpg" alt="" height="250" width="auto"><br>
    J'ai besoin de m'assurer que c'est bien toi pour pouvoir commencer: <em>Peux-tu calculer combien il faudrait de <strong>ml</strong> de Chlorhexidine pour une quantité de 1600ml d'eau?</em><br>
    
    <div class="item item-input-inset">
     <label class="item item-input">
      <input type="text" placeholder="mililitres" focus ng-model="comm.reponse"fff>
    </label><br>
      
    </div>
    <button ng-if="!valid" style="clear:both" class="button button-dark" ng-click="submitReponse(comm.reponse)">Soumettre</button>
    <p ng-if="message && !valid" style="color:#ef473a">{{message}}</p>
    
  </div>
</div>