
 <ion-view hide-back-button="true" view-title="Indice #{{indice}}">

  <!--<div ng-if="!hideContent">-->
    <ion-content class="has-header">
      <span style="color:#33cd5f;margin-left:10px !important"><span ng-if="comm.chat!=''">Dom dit:</span><span style="font-style:italic;margin-left:10px !important">{{comm.chat}}</span>
     
      <div class="slide-animate" ng-include="indiceUrl"></div>
    </ion-content>
  <!--</div>-->
</ion-view>