<div class="card">
  <div class="item item-divider">
    Bravo!
  </div>
  <div class="item item-text-wrap">
  <img src="img/loup.jpg" alt="" height="250" width="auto"><br>
   Ça y'est. Tout est réglé. On les a interceptés, Agent Fox. <br>
   Maintenant, rapidement, installe ton masque et assieds-toi sur ton lit. Nous envoyons un agent double pour tout nettoyer, mais tu ne dois pas connaître son identité.
    
    
  </div>
</div>